<td-layout #layout>
  <td-layout-nav-list #navList [opened]="false">
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <div class="spacer" *ngIf="!searchBox.searchVisible"></div>
    <span flex *ngIf="!searchBox.searchVisible">MOVA.SE</span>
    <td-search-box #searchBox  class="pull-top-sm pull-bottom-sm" placeholder="Pesquisar o evento..." flex
      (searchDebounce)="onSearch($event)" [debounce]="500">
    </td-search-box>
  </div>
  <router-outlet></router-outlet>
</td-layout-nav-list>
</td-layout>