<md-card style="height: 160px;">
  <md-card-content align="center">
    <p>
      <button routerLink="/new-event" md-raised-button color="accent">
        Crie o seu evento
      </button> <br />
    </p>
    Pertinho de você<br/>
    <md-icon>keyboard_arrow_down</md-icon>
  </md-card-content>
</md-card>

<div class="flex-container" style="padding: 20px;">
  <md-card *ngFor="let evento of eventos | async" class="flex-item">
    <img md-card-image src="http://www.ortoplan.com/uploads/thumb/130515esporte.jpg">
    <md-card-content>
      {{evento.nome}}<br /> 
      {{evento.data * 1000 | date: "dd/MM 'às' HH:mm"}}<br/> 
      {{evento.distancia | number}} Km de distância
    </md-card-content>
  </md-card>
</div>