<span *ngIf="searching" class="flex-item">
    <md-input-container>
        <input mdInput placeholder="Nome do evento"  [mdAutocomplete]="auto"
            [formControl]="eventsCtrl">
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let evento of filteredEvents | async" [value]="evento.nome">
            {{ evento.nome }}
        </md-option>
    </md-autocomplete>
</span>

<md-icon (click)="onClickSearch()">search</md-icon>