<div class="container">

    <h2 align="center">Crie o seu evento</h2>
    
    <form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)" class="flex-container">
        <md-input-container>
            <input mdInput placeholder="Descrição" [(ngModel)]="evento.nome"
                name="nome" minlength="4" maxlength="30" required
                #name="ngModel"/>
        </md-input-container>

        <md-select placeholder="Esporte" [(ngModel)]="evento.esporte" 
            name="esporte" required>
            <md-option *ngFor="let esporte of esportes | async" [value]="esporte">
                {{ esporte }}
            </md-option>
        </md-select>

        <md-input-container>
            <input mdInput placeholder="Local" [(ngModel)]="evento.local" 
                name="local" required/>
        </md-input-container>

        <md-input-container>
            <input mdInput [mdDatepicker]="picker" [(ngModel)]="evento.date" placeholder="Data" name="data" 
                [min]="today" required>
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker touchUi="true"  #picker></md-datepicker>

        <button type="submit" md-raised-button color="accent">Crie o seu evento</button>

    </form>

</div>